<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

<h4> <center>An Analysis of SAT and ACT Scores For College Admission </center></h4>
<h5> <center>Nelson Agus Kesuma </center></h5>

--- 
# <font color = 'Maroon'>Part 1

Part 1 requires knowledge of basic Python.

---

## <font color = 'Maroon'>Problem Statement

Due to the COVID-19 pandemic, many colleges have introduced test-optional policy for their admission requirement. It is seen as an avenue to promote diversity and equity on campuses by eliminating standardized testing for their admissions process. [[source]](https://www.urban.org/research/publication/how-test-optional-college-admissions-expanded-during-covid-19-pandemic)

As an education advisor for my beloved students, this project aims to provide better visibility and directions for college application processes by analysing the following aspects:
- The current practices of test-optional policies among colleges and universities in the U.S.
- An in-depth analysis of SAT and ACT scores with respect to college acceptance rates
- An in-depth analysis of SAT and ACT scores correlated to intended college majors
- SAT scores correlation to students' GPA to determine if SAT score matters

### <font color = 'Maroon'>Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## <font color = 'Maroon'>Background

The SAT and ACT are standardized tests that many colleges and universities in the United States require for their admissions process. This score is used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university.

The SAT has two sections of the test: Evidence-Based Reading and Writing and Math ([*source*](https://www.princetonreview.com/college/sat-sections)). The ACT has 4 sections: English, Mathematics, Reading, and Science, with an additional optional writing section ([*source*](https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html)). They have different score ranges, which you can read more about on their websites or additional outside sources (a quick Google search will help you understand the scores for each test):
* [SAT](https://collegereadiness.collegeboard.org/sat)
* [ACT](https://www.act.org/content/act/en.html)

Standardized tests have long been a controversial topic for students, administrators, and legislators. Since the 1940's, an increasing number of colleges have been using scores from sudents' performances on tests like the SAT and the ACT as a measure for college readiness and aptitude ([*source*](https://www.minotdailynews.com/news/local-news/2017/04/a-brief-history-of-the-sat-and-act/)). Supporters of these tests argue that these scores can be used as an objective measure to determine college admittance. Opponents of these tests claim that these tests are not accurate measures of students potential or ability and serve as an inequitable barrier to entry. Lately, more and more schools are opting to drop the SAT/ACT requirement for their Fall 2021 applications ([*read more about this here*](https://www.cnn.com/2020/04/14/us/coronavirus-colleges-sat-act-test-trnd/index.html)).

As such, this project aims to better guide prospective freshmen in positioning themselves with regards to their college admissions.

### <font color = 'Maroon'>Datasets

* [`sat_2019_by_intended_college_major.csv`](./data/sat_2019_by_intended_college_major.csv): 2019 SAT Scores by Intended College Major
  
  This dataset outlines the 2019 SAT scores by intended college major. It consists of multiple attributes including the intended college major, mean SAT scores for both ReadingWriting and Math subjects and other demographics such as number of test takers and percentage of students applying for each college major. Also, a number of intended college majors were surveyed and collected.
* [`sat_act_by_college.csv`](./data/sat_act_by_college.csv): Ranges of Accepted ACT & SAT Student Scores by Colleges
    
    The dataset generates a number of colleges/universities in the U.S. ordered by their acceptance rate and their test-optional policy along with the number of applicants, acceptance rate as well as the SAT and ACT 25th-75th percentile total scores.
    
* [`gpa_by_UC_college.csv`](./data/gpa_by_UC_college.csv): Ranges of Accepted Student GPA by all University of California campuses [[source]](https://admission.universityofcalifornia.edu/campuses-majors/freshman-admit-data.html)
    
    This dataset describes the admitted student GPA for each UC campus for fall 2021 and was collected by UC freshman admission staffs.

### <font color = 'Maroon'>Outside Research

According to Lovell and Mallinson (2022), the COVID-19 pandemic has induced numerous colleges and universities to implement test-optional admission policies. It was implemented out of safety measures during the pandemic. However, pre-pandemic era has seen various colleges and universities practiced this policy as a way to promote diversity and equity on campus. [[source]](https://www.urban.org/research/publication/how-test-optional-college-admissions-expanded-during-covid-19-pandemic) This includes the optional submission for SAT and ACT scores for students university admission. (Bhardwa, 2022) [[source]](https://www.timeshighereducation.com/student/advice/what-does-test-optional-mean-us-university-applications). In addition, the number of universities and colleges with test-optional policies has nearly doubled from 713 to 1,350 since spring 2020. Therefore, many universities are inching towards the test-optional admission requirement as part of the new normal. Also, it could also lead to a more diverse pool of applicants. (Lovell and Mallinson, 2022)


Research has also shown that GPA or grades are the best predictor of college performance and are not as heavily influenced as standardized exams by socioeconomic backgrounds such as income, parent education levels and race. (Kurlaender and Cohen, 2019) [[source]](https://edpolicyinca.org/publications/predicting-college-success-how-do-different-high-school-assessments-measure-2019). To validate the statement, a number of university-admitted student GPAs have been collected and inputted manually to the csv file as attached above. Due to data availability constraint, only student GPAs admitted to University of California campuses were collected to be investigated. [[source]](https://admission.universityofcalifornia.edu/campuses-majors/freshman-admit-data.html). This dataset will be used to understand the correlation between GPA and SAT scores particularly for UC universities.

### <font color = 'Maroon'>Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [11]:
def mean_calculation(list_of_numbers):
    if len(list_of_numbers) ==0:
        return 0
    else:
        return sum(list_of_numbers) / len(list_of_numbers)

mean_calculation([20, 54, 12, 20, 10, 27, 16, 14, 30, 40])

24.3

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [26]:
def std_deviation_calculation(list_of_numbers):
    if len(list_of_numbers) ==0:
        return 0
    else:
        variance = sum([((x- mean_calculation(list_of_numbers))**2) for x in list_of_numbers]) / len(list_of_numbers)
        return variance ** 0.5

std_deviation_calculation([20, 54, 12, 20, 10, 27, 16, 14, 30, 40])

13.176114753598648

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [46]:
def data_cleaning(number_string):
    if not number_string.endswith("%"):
        return "Please input %"
    else:
        number_string = number_string.replace("%","")
        return float (number_string)/100

data_cleaning("30.5%")

0.305

--- 
# <font color = 'Maroon'>Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [1088]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## <font color = 'Maroon'>Data Import and Cleaning

### <font color = 'Maroon'>Data Import & Cleaning

Import the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary:
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values.
3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).
4. Fix any errors you identified in steps 2-3.
5. Display the data types of each feature.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If your dataset has a column of percents (ex. '50%', '30.5%', etc.), use the function you wrote in Part 1 (coding challenges, number 3) to convert this to floats! *Hint*: use `.map()` or `.apply()`.
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

### <font color = 'Maroon'>Import and Display first 5 rows of each dataframe

In [1089]:
sat_college_major_df = pd.read_csv('../data/sat_2019_by_intended_college_major.csv')
sat_college_df = pd.read_csv('../data/sat_act_by_college.csv')
gpa_uc_college_df = pd.read_csv('../data/gpa_by_UC_college.csv')

sat_college_major_df.head()

,IntendedCollegeMajor,TestTakers,Percent,Total,ReadingWriting,Math
0,"Agriculture, AgricultureOperations, and Relate...","24,913",1%,977,496,481
1,Architecture and Related Services,"28,988",2%,1047,520,527
2,"Area, Ethnic, Cultural, and Gender Studies","2,629",0%,1040,536,504
3,Biological and Biomedical Sciences,"155,834",8%,1139,572,566
4,"Business, Management, Marketing, and Related S...","221,523",12%,1072,534,537

In [1090]:
sat_college_df.head()

,School,Test Optional?,Applies to Class Year(s),Policy Details,Number of Applicants,Accept Rate,SAT Total 25th-75th Percentile,ACT Total 25th-75th Percentile
0,Stanford University,Yes,2021,Stanford has adopted a one-year test optional ...,47452,4.3%,1440-1570,32-35
1,Harvard College,Yes,2021,Harvard has adopted a one-year test optional p...,42749,4.7%,1460-1580,33-35
2,Princeton University,Yes,2021,Princeton has adopted a one-year test optional...,35370,5.5%,1440-1570,32-35
3,Columbia University,Yes,2021,Columbia has adopted a one-year test optional ...,40203,5.5%,1450-1560,33-35
4,Yale University,Yes,2021,Yale has adopted a one-year test optional poli...,36844,6.1%,1460-1570,33-35

In [1091]:
gpa_uc_college_df.head()

,School,High School GPA of middle 25%-75% students
0,University of California Berkeley,4.12-4.30
1,University of California Davis,3.95-4.25
2,University of California Irvine,3.96-4.26
3,University of California Los Angeles,4.19-4.32
4,University of California Merced,3.39-4.00

### <font color = 'Maroon'>Check for Missing Values

In [1092]:
sat_college_major_df.isnull().sum()

IntendedCollegeMajor    0
TestTakers              0
Percent                 0
Total                   0
ReadingWriting          0
Math                    0
dtype: int64

In [1093]:
sat_college_df.isnull().sum()

School                             0
Test Optional?                     0
Applies to Class Year(s)          26
Policy Details                     0
Number of Applicants               0
Accept Rate                        0
SAT Total 25th-75th Percentile     0
ACT Total 25th-75th Percentile     0
dtype: int64

In [1094]:
gpa_uc_college_df.isnull().sum()

School                                        1
High School GPA of middle 25%-75% students    1
dtype: int64

### <font color = 'Maroon'>Check for Potential Issues with Observations, Displaying Data Types of each Feature and Drop Unnecessary Rows

Based on point 2, it is observed that there are several null values in some of the columns. Therefore, it is important to keep this in mind and decide on how to handle the missing values.

In [1095]:
sat_college_major_df.dtypes

IntendedCollegeMajor    object
TestTakers              object
Percent                 object
Total                    int64
ReadingWriting           int64
Math                     int64
dtype: object

Fixing of testtakers and percent data types might be necessary for better EDA purposes.

In [1096]:
#Check on the max and min values of the subtest
print(np.max(sat_college_major_df['ReadingWriting']), np.max(sat_college_major_df['Math']), np.max(sat_college_major_df['Total']))
print(np.min(sat_college_major_df['ReadingWriting']), np.min(sat_college_major_df['Math']), np.min(sat_college_major_df['Total']))

597 646 1242
458 456 916

In [1097]:
print(np.max(sat_college_df['SAT Total 25th-75th Percentile']), np.max(sat_college_df['ACT Total 25th-75th Percentile']))
print(np.min(sat_college_df['SAT Total 25th-75th Percentile']), np.min(sat_college_df['ACT Total 25th-75th Percentile']))

sat_college_df.dtypes

​​ 1530-1560 35-36
-- --

School                            object
Test Optional?                    object
Applies to Class Year(s)          object
Policy Details                    object
Number of Applicants               int64
Accept Rate                       object
SAT Total 25th-75th Percentile    object
ACT Total 25th-75th Percentile    object
dtype: object

While the validity of both SAT and ACT scores are correct, observed that 1560 is not the max value in the dataframe. Might need to separate out the range values in column 25th-75th percentile. The percentile columns data types are also objects instead of int or float. Therefore, converting to int or float might be necessary

In [1098]:
gpa_uc_college_df.dtypes

School                                        object
High School GPA of middle 25%-75% students    object
dtype: object

As 'High School GPA of middle 25%-75% students' column is an object, it is necessary to convert it to int or float first to buddy check the min or max value

In [1099]:
sat_college_df['Test Optional?'].value_counts()

Yes         347
No           26
Yes (TB)     25
Yes*         16
Yes (TF)      2
Name: Test Optional?, dtype: int64

In [1100]:
len(sat_college_df['Test Optional?'])

416

In [1101]:
sat_college_df.shape

(416, 8)

For sat_college_df dataset, there are 416 rows. However, when checking on the 'Test optional?' column, the number of 'No' and null values coincide. This mean that 'No' in that column is regarded as null value

In [1102]:
def policy_check(row):
    if "requires either the SAT or ACT" in row and "waive" not in row:
        return "No"
    else:
        return "Yes"

In [1103]:
sat_college_df['Policy Check'] = sat_college_df['Policy Details'].apply(policy_check)

In [1104]:
sat_college_df['Policy Check'].value_counts()

Yes    395
No      21
Name: Policy Check, dtype: int64

As shown above, this is just a preliminary assumption that all the statements that contain "requires either the SAT or ACT" and "waive" should be filled with "No" in "Test Optional?" column. However, the total counts of "No" are not aligned to the total counts of "No" in "Test Optional?" column. Hence, it can be concluded that either the if condition is wrong or there is some discrepancy in the "Test Optional" column. Upon checking the file, the if condition is wrong and there might be a need to write another if logic or there is no way to verify if the "Test Optional" column data was correctly inputted based on the sentiment in "Policy Details"

In [1105]:
#Ensure no duplicate entries
sat_college_major_df.duplicated().sum()

0

In [1106]:
#Ensure no duplicate entries
sat_college_df.duplicated().sum()

0

In [1107]:
#Ensure no duplicate entries
gpa_uc_college_df.duplicated().sum()

0

### <font color = 'Maroon'>Fix any errors found in 2-3 and Fix any incorrect Data Types

In [1108]:
# Change testtakers data types to int
def remove_commas_to_int(row):
    row = int(row.replace(",",""))
    return row

sat_college_major_df['TestTakers'] = sat_college_major_df['TestTakers'].apply(remove_commas_to_int)
sat_college_major_df['TestTakers'].head()

0     24913
1     28988
2      2629
3    155834
4    221523
Name: TestTakers, dtype: int64

In [1109]:
# Change Percent data types to int
def remove_percent_to_float(row):
    row = float(row.replace("%",""))
    return row/100

sat_college_major_df['Percent'] = sat_college_major_df['Percent'].apply(remove_percent_to_float)
sat_college_major_df.head()

,IntendedCollegeMajor,TestTakers,Percent,Total,ReadingWriting,Math
0,"Agriculture, AgricultureOperations, and Relate...",24913,0.01,977,496,481
1,Architecture and Related Services,28988,0.02,1047,520,527
2,"Area, Ethnic, Cultural, and Gender Studies",2629,0.00,1040,536,504
3,Biological and Biomedical Sciences,155834,0.08,1139,572,566
4,"Business, Management, Marketing, and Related S...",221523,0.12,1072,534,537

In [1110]:
sat_college_major_df.dtypes

IntendedCollegeMajor     object
TestTakers                int64
Percent                 float64
Total                     int64
ReadingWriting            int64
Math                      int64
dtype: object

In [1111]:
# Change Accept Rate data types to int
sat_college_df['Accept Rate'] = sat_college_df['Accept Rate'].apply(remove_percent_to_float)
sat_college_df.head()

,School,Test Optional?,Applies to Class Year(s),Policy Details,Number of Applicants,Accept Rate,SAT Total 25th-75th Percentile,ACT Total 25th-75th Percentile,Policy Check
0,Stanford University,Yes,2021,Stanford has adopted a one-year test optional ...,47452,0.043,1440-1570,32-35,Yes
1,Harvard College,Yes,2021,Harvard has adopted a one-year test optional p...,42749,0.047,1460-1580,33-35,Yes
2,Princeton University,Yes,2021,Princeton has adopted a one-year test optional...,35370,0.055,1440-1570,32-35,Yes
3,Columbia University,Yes,2021,Columbia has adopted a one-year test optional ...,40203,0.055,1450-1560,33-35,Yes
4,Yale University,Yes,2021,Yale has adopted a one-year test optional poli...,36844,0.061,1460-1570,33-35,Yes

In [1112]:
sat_college_df.dtypes

School                             object
Test Optional?                     object
Applies to Class Year(s)           object
Policy Details                     object
Number of Applicants                int64
Accept Rate                       float64
SAT Total 25th-75th Percentile     object
ACT Total 25th-75th Percentile     object
Policy Check                       object
dtype: object

In [1113]:
#Separate 25th and 75th percentile

def split_first_element(string):
    if string == '--':
        pass
    else:
        string_split = string.split('-')[0]
        return string_split

def split_second_element(string):
    if string == '--':
        pass
    else:
        string_split = string.split('-')[1]
        return string_split

In [1114]:
sat_college_df['SAT_25th_percentile'] = sat_college_df['SAT Total 25th-75th Percentile'].apply(split_first_element)
sat_college_df['SAT_75th_percentile'] = sat_college_df['SAT Total 25th-75th Percentile'].apply(split_second_element)
sat_college_df['ACT_25th_percentile'] = sat_college_df['ACT Total 25th-75th Percentile'].apply(split_first_element)
sat_college_df['ACT_75th_percentile'] = sat_college_df['ACT Total 25th-75th Percentile'].apply(split_second_element)

In [1115]:
sat_college_df.dtypes

School                             object
Test Optional?                     object
Applies to Class Year(s)           object
Policy Details                     object
Number of Applicants                int64
Accept Rate                       float64
SAT Total 25th-75th Percentile     object
ACT Total 25th-75th Percentile     object
Policy Check                       object
SAT_25th_percentile                object
SAT_75th_percentile                object
ACT_25th_percentile                object
ACT_75th_percentile                object
dtype: object

In [1116]:
#Decided to drop rows with null values for their SAT scores
sat_college_df.dropna(subset =['School', 'SAT_25th_percentile'], inplace = True)
sat_college_df['SAT_25th_percentile'] = pd.to_numeric(sat_college_df['SAT_25th_percentile'],errors = 'coerce')

In [1117]:
sat_college_df['SAT_75th_percentile'] = sat_college_df['SAT_75th_percentile'].astype(float)
sat_college_df['ACT_25th_percentile'] = pd.to_numeric(sat_college_df['ACT_25th_percentile'],errors = 'coerce')
sat_college_df['ACT_75th_percentile'] = pd.to_numeric(sat_college_df['ACT_75th_percentile'],errors = 'coerce')

In [1118]:
sat_college_df.dtypes

School                             object
Test Optional?                     object
Applies to Class Year(s)           object
Policy Details                     object
Number of Applicants                int64
Accept Rate                       float64
SAT Total 25th-75th Percentile     object
ACT Total 25th-75th Percentile     object
Policy Check                       object
SAT_25th_percentile               float64
SAT_75th_percentile               float64
ACT_25th_percentile               float64
ACT_75th_percentile               float64
dtype: object

In [1119]:
sat_college_df['SAT_25th_percentile'].isnull().sum()

4

In [1143]:
sat_college_df.head(6)

,school,test_optional,class_years,policy_details,number_of_applicants_int,acceptance_rate_float,sat_total_middle_range,act_total_middle_range,policy_check,sat_25th_percentile,sat_75th_percentile,act_25th_percentile,act_75th_percentile
0,Stanford University,Yes,2021,Stanford has adopted a one-year test optional ...,47452,0.043,1440-1570,32-35,Yes,1440.0,1570.0,32.0,35.0
1,Harvard College,Yes,2021,Harvard has adopted a one-year test optional p...,42749,0.047,1460-1580,33-35,Yes,1460.0,1580.0,33.0,35.0
2,Princeton University,Yes,2021,Princeton has adopted a one-year test optional...,35370,0.055,1440-1570,32-35,Yes,1440.0,1570.0,32.0,35.0
3,Columbia University,Yes,2021,Columbia has adopted a one-year test optional ...,40203,0.055,1450-1560,33-35,Yes,1450.0,1560.0,33.0,35.0
4,Yale University,Yes,2021,Yale has adopted a one-year test optional poli...,36844,0.061,1460-1570,33-35,Yes,1460.0,1570.0,33.0,35.0
5,California Institute of Technology,Yes (TB),2021 2022,CalTech has adopted a two-year Test Blind poli...,8367,0.064,​​ 1530-1560,35-36,Yes,NaN,1560.0,35.0,36.0

In [1120]:
#Check for school that has ACT score null values
cond_act_null = sat_college_df['ACT_25th_percentile'].isnull()
cond_act_null_df = sat_college_df[cond_act_null]

cond_act_null_df['School']

60     University of California—​Irvine
93                         CUNY--Hunter
114                CUNY--Baruch College
242                   DePaul University
261                     Montclair State
Name: School, dtype: object

One of universities that has ACT scores with null values is University of California-Irvine. I decided not to drop the row as this row might be important to check SAT score correlation to GPA. With only 9 UC campus recorded, this row should not be dropped

In [1121]:
#Drop null values in gpa_by_UC_college dataset
gpa_uc_college_df.dropna(inplace = True)

In [1122]:
gpa_uc_college_df.dtypes

School                                        object
High School GPA of middle 25%-75% students    object
dtype: object

In [1123]:
gpa_uc_college_df['GPA_25th_percentile'] = gpa_uc_college_df['High School GPA of middle 25%-75% students'].apply(split_first_element)
gpa_uc_college_df['GPA_75th_percentile'] = gpa_uc_college_df['High School GPA of middle 25%-75% students'].apply(split_second_element)

In [1124]:
gpa_uc_college_df['GPA_75th_percentile'] = gpa_uc_college_df['GPA_75th_percentile'].astype(float)
gpa_uc_college_df['GPA_25th_percentile'] = gpa_uc_college_df['GPA_25th_percentile'].astype(float)
gpa_uc_college_df.dtypes

School                                         object
High School GPA of middle 25%-75% students     object
GPA_25th_percentile                           float64
GPA_75th_percentile                           float64
dtype: object

In [1125]:
gpa_uc_college_df.head()

,School,High School GPA of middle 25%-75% students,GPA_25th_percentile,GPA_75th_percentile
0,University of California Berkeley,4.12-4.30,4.12,4.30
1,University of California Davis,3.95-4.25,3.95,4.25
2,University of California Irvine,3.96-4.26,3.96,4.26
3,University of California Los Angeles,4.19-4.32,4.19,4.32
4,University of California Merced,3.39-4.00,3.39,4.00

### <font color = 'Maroon'>Rename all columns

In [1126]:
sat_college_major_df.columns =['intended_college_major', 'num_sat_takers_int','percent_of_majors_float', 'total_sat_score', 'mean_sat_reading_writing', 'mean_sat_math']

In [1127]:
sat_college_df.columns = ['school', 'test_optional', 'class_years', 'policy_details', 'number_of_applicants_int', 'acceptance_rate_float', 'sat_total_middle_range', 'act_total_middle_range', 'policy_check', 'sat_25th_percentile', 'sat_75th_percentile', 'act_25th_percentile', 'act_75th_percentile']

In [1128]:
gpa_uc_college_df.columns = ['school', 'high_school_gpa_middle_range', 'gpa_25th_percentile', 'gpa_75th_percentile']

In [1129]:
sat_college_df.dtypes

school                       object
test_optional                object
class_years                  object
policy_details               object
number_of_applicants_int      int64
acceptance_rate_float       float64
sat_total_middle_range       object
act_total_middle_range       object
policy_check                 object
sat_25th_percentile         float64
sat_75th_percentile         float64
act_25th_percentile         float64
act_75th_percentile         float64
dtype: object

### <font color = 'Maroon'>Additional Data Cleaning

In [1130]:
sat_college_df['class_years'] = sat_college_df['class_years'].replace('All / Permanent Policy', 'Permanent')
sat_college_df.head()

,school,test_optional,class_years,policy_details,number_of_applicants_int,acceptance_rate_float,sat_total_middle_range,act_total_middle_range,policy_check,sat_25th_percentile,sat_75th_percentile,act_25th_percentile,act_75th_percentile
0,Stanford University,Yes,2021,Stanford has adopted a one-year test optional ...,47452,0.043,1440-1570,32-35,Yes,1440.0,1570.0,32.0,35.0
1,Harvard College,Yes,2021,Harvard has adopted a one-year test optional p...,42749,0.047,1460-1580,33-35,Yes,1460.0,1580.0,33.0,35.0
2,Princeton University,Yes,2021,Princeton has adopted a one-year test optional...,35370,0.055,1440-1570,32-35,Yes,1440.0,1570.0,32.0,35.0
3,Columbia University,Yes,2021,Columbia has adopted a one-year test optional ...,40203,0.055,1450-1560,33-35,Yes,1450.0,1560.0,33.0,35.0
4,Yale University,Yes,2021,Yale has adopted a one-year test optional poli...,36844,0.061,1460-1570,33-35,Yes,1460.0,1570.0,33.0,35.0

### <font color = 'Maroon'> Add SAT and ACT scores column from sat_college_df to new df sat_college_california_df

In [1131]:
california_uni = sat_college_df['school'].str.contains('California')
sat_college_california_df = sat_college_df[california_uni]
sat_college_california_df.head()

,school,test_optional,class_years,policy_details,number_of_applicants_int,acceptance_rate_float,sat_total_middle_range,act_total_middle_range,policy_check,sat_25th_percentile,sat_75th_percentile,act_25th_percentile,act_75th_percentile
5,California Institute of Technology,Yes (TB),2021 2022,CalTech has adopted a two-year Test Blind poli...,8367,0.064,​​ 1530-1560,35-36,Yes,NaN,1560.0,35.0,36.0
24,University of California—​Los Angeles,Yes,2021 2022 2023 2024,The UC system has adopted a two-year test opti...,111322,0.123,1290-1510,27-34,Yes,1290.0,1510.0,27.0,34.0
26,University of Southern California,Yes,2021,USC has adopted a one-year test optional polic...,64352,0.130,1350-1530,30-34,Yes,1350.0,1530.0,30.0,34.0
33,University of California—​Berkeley,Yes (TB),2021 2022 2023 2024,Cal has adopted a four-year test blind policy ...,89621,0.148,1300-1530,28-34,Yes,1300.0,1530.0,28.0,34.0
60,University of California—​Irvine,Yes (TB),2021 2022 2023 2024,UCI has adopted a four-year test blind policy ...,95568,0.265,1180-1440,--,Yes,1180.0,1440.0,NaN,NaN

In [1132]:
def california_cleaning(row):
    if '--' in row:
        return row.replace("--"," ")
    else:
        return row

sat_college_california_df['school'] = sat_college_california_df['school'].apply(california_cleaning)

<ipython-input-1132-3bdb69ffe0d7>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sat_college_california_df['school'] = sat_college_california_df['school'].apply(california_cleaning)

In [1133]:
sat_college_california_df['school']

5                     California Institute of Technology
24                 University of California—​Los Angeles
26                     University of Southern California
33                    University of California—​Berkeley
60                      University of California—​Irvine
65     California State Polytechnic University—​San L...
69               University of California—​Santa Barbara
72                   University of California—​San Diego
101              California State University Los Angeles
102               California State University Long Beach
108                      University of California—​Davis
143                 University of California—​Santa Cruz
145                California State University Fullerton
155       California State Polytechnic University Pomona
160                   University of California Riverside
173                   California State University Fresno
180               California State University Northridge
246           California State University San Bernardino
266                       California Lutheran University
269                      University of California—Merced
275                    California State University Chico
299             California State University Monterey Bay
335                     St. Mary's College of California
347               California State University Sacramento
Name: school, dtype: object

In [1134]:
def california_cleaning_strip(name):
    name = name.replace('\u200b','').rstrip().replace('—', ' ')
    return name

In [1135]:
sat_college_california_df['school'] = sat_college_california_df['school'].apply(california_cleaning_strip)

<ipython-input-1135-915fa7786e29>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sat_college_california_df['school'] = sat_college_california_df['school'].apply(california_cleaning_strip)

In [1136]:
sat_college_california_df['school']

5                     California Institute of Technology
24                  University of California Los Angeles
26                     University of Southern California
33                     University of California Berkeley
60                       University of California Irvine
65     California State Polytechnic University San Lu...
69                University of California Santa Barbara
72                    University of California San Diego
101              California State University Los Angeles
102               California State University Long Beach
108                       University of California Davis
143                  University of California Santa Cruz
145                California State University Fullerton
155       California State Polytechnic University Pomona
160                   University of California Riverside
173                   California State University Fresno
180               California State University Northridge
246           California State University San Bernardino
266                       California Lutheran University
269                      University of California Merced
275                    California State University Chico
299             California State University Monterey Bay
335                     St. Mary's College of California
347               California State University Sacramento
Name: school, dtype: object

In [1137]:
sat_college_california_df.to_csv('list of universities containing california.csv')

In [1138]:
sat_college_california_df['school']

5                     California Institute of Technology
24                  University of California Los Angeles
26                     University of Southern California
33                     University of California Berkeley
60                       University of California Irvine
65     California State Polytechnic University San Lu...
69                University of California Santa Barbara
72                    University of California San Diego
101              California State University Los Angeles
102               California State University Long Beach
108                       University of California Davis
143                  University of California Santa Cruz
145                California State University Fullerton
155       California State Polytechnic University Pomona
160                   University of California Riverside
173                   California State University Fresno
180               California State University Northridge
246           California State University San Bernardino
266                       California Lutheran University
269                      University of California Merced
275                    California State University Chico
299             California State University Monterey Bay
335                     St. Mary's College of California
347               California State University Sacramento
Name: school, dtype: object

In [1139]:
gpa_uc_college_df['school']

0         University of California Berkeley
1            University of California Davis
2           University of California Irvine
3      University of California Los Angeles
4           University of California Merced
5        University of California Riverside
6        University of California San Diego
7    University of California Santa Barbara
8       University of California Santa Cruz
Name: school, dtype: object

In [1140]:
gpa_uc_college_df.to_csv('university of california campuses.csv')

In [1141]:
#Merge gpa_uc_college_df to sat_college_california_df

sat_college_california_df = pd.merge(sat_college_california_df, gpa_uc_college_df, on ='school', how ='inner')
sat_college_california_df

,school,test_optional,class_years,policy_details,number_of_applicants_int,acceptance_rate_float,sat_total_middle_range,act_total_middle_range,policy_check,sat_25th_percentile,sat_75th_percentile,act_25th_percentile,act_75th_percentile,high_school_gpa_middle_range,gpa_25th_percentile,gpa_75th_percentile
0,University of California Los Angeles,Yes,2021 2022 2023 2024,The UC system has adopted a two-year test opti...,111322,0.123,1290-1510,27-34,Yes,1290.0,1510.0,27.0,34.0,4.19-4.32,4.19,4.32
1,University of California Berkeley,Yes (TB),2021 2022 2023 2024,Cal has adopted a four-year test blind policy ...,89621,0.148,1300-1530,28-34,Yes,1300.0,1530.0,28.0,34.0,4.12-4.30,4.12,4.30
2,University of California Irvine,Yes (TB),2021 2022 2023 2024,UCI has adopted a four-year test blind policy ...,95568,0.265,1180-1440,--,Yes,1180.0,1440.0,NaN,NaN,3.96-4.26,3.96,4.26
3,University of California Santa Barbara,Yes,2021 2022 2023 2024,The UC system has adopted a two-year test opti...,93457,0.296,1260-1460,25-33,Yes,1260.0,1460.0,25.0,33.0,4.10-4.29,4.10,4.29
4,University of California San Diego,Yes,2021 2022 2023 2024,The UC system has adopted a two-year test opti...,97901,0.302,1250-1470,26-33,Yes,1250.0,1470.0,26.0,33.0,4.07-4.29,4.07,4.29
5,University of California Davis,Yes,2021 2022 2023 2024,The UC system has adopted a two-year test opti...,76647,0.412,1150-1410,25-31,Yes,1150.0,1410.0,25.0,31.0,3.95-4.25,3.95,4.25
6,University of California Santa Cruz,Yes (TB),2021 2022 2023 2024,UCSC has adopted a four-year test blind policy...,55906,0.515,1200-1360,24-30,Yes,1200.0,1360.0,24.0,30.0,3.81-4.20,3.81,4.20
7,University of California Riverside,Yes,2021 2022 2023 2024,The UC system has adopted a two-year test opti...,49788,0.567,1130-1340,24-30,Yes,1130.0,1340.0,24.0,30.0,3.7-4.13,3.70,4.13
8,University of California Merced,Yes,2021 2022 2023 2024,The UC system has adopted a two-year test opti...,25368,0.720,980-1180,17-22,Yes,980.0,1180.0,17.0,22.0,3.39-4.00,3.39,4.00

In [1144]:
sat_college_california_df.to_csv('list of california universities with merged high school GPA value.csv')

In [1146]:
sat_college_major_df.to_csv('cleaned intended college major and mean SAT scores.csv')

In [1147]:
sat_college_df.to_csv('cleaned data of universities with their ACT and SAT scores.csv')

### Data Dictionary

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**intended_college_major**|*object*|College Board 2019 SAT Annual Report|Student's intended college majors (total of 38 majors)| 
|**num_sat_takers_int**|*integer*|College Board 2019 SAT Annual Report|Number of test takers corresponding to the intended college major|
|**percent_of_majors_float**|*float*|College Board 2019 SAT Annual Report|Percent(%) of test takers choosing the intended majors| 
|**total_sat_score**|*integer*|College Board 2019 SAT Annual Report| Mean total SAT score (max 1600) |
|**mean_sat_reading_writing**|*integer*|College Board 2019 SAT Annual Report|Mean reading writing SAT score (max 800).| 
|**mean_sat_math**|*integer*|College Board 2019 SAT Annual Report|Mean math SAT score (max 800)|

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**school**|*object*|Compass Education Group SAT and ACT Policies with Score Ranges|College or university name| 
|**test_optional**|*object*|Compass Education Group SAT and ACT Policies with Score Ranges|Test-optinal policy implementation ( Yes or No)|
|**class_years**|*object*|Compass Education Group SAT and ACT Policies with Score Ranges|Class years that are elligible| 
|**policy_details**|*object*|Compass Education Group SAT and ACT Policies with Score Ranges|Details of test optional policy|
|**number_of_applicants_int**|*integer*|Compass Education Group SAT and ACT Policies with Score Ranges|Number of applicants to each school| 
|**acceptance_rate_float**|*float*|Compass Education Group SAT and ACT Policies with Score Ranges|Percentage(%) of students who are accepted|
|**sat_total_middle_range**|*object*|Compass Education Group SAT and ACT Policies with Score Ranges|Range of 25th and 75th percentile SAT scores accepted by the school|
|**act_total_middle_range**|*object*|Compass Education Group SAT and ACT Policies with Score Ranges|Range of 25th and 75th percentile ACT scores accepted by the school|
|**policy_check**|*object*|Compass Education Group SAT and ACT Policies with Score Ranges|Policy buddy check if 'test_optional' is correctly inputted based on sentiment)|
|**sat_25th_percentile**|*float*|Compass Education Group SAT and ACT Policies with Score Ranges|25th percentile of school's accepted SAT scores|
|**sat_75th_percentile**|*float*|Compass Education Group SAT and ACT Policies with Score Ranges|75th percentile of school's accepted SAT scores|
|**act_25th_percentile**|*float*|Compass Education Group SAT and ACT Policies with Score Ranges|25th percentile of school's accepted ACT scores)|
|**act_75th_percentile**|*float*|Compass Education Group SAT and ACT Policies with Score Ranges|75th percentile of school's accepted ACT scores)|

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**high_school_gpa_middle_range**|*float*|University of California Freshman Admit Data|Range of 25th and 75th percentile high school GPA accepted by the school|
|**gpa_25th_percentile**|*float*|University of California Freshman Admit Data|25th percentile of school's accepted high school GPA|
|**gpa_75th_percentile**|*float*|University of California Freshman Admit Data|75th percentile of school's accepted high school GPA| 

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

*Note*: if you are unsure of what a feature is, check the source of the data! This can be found in the README.

**To-Do:** *Edit the table below to create your own data dictionary for the datasets you chose.*

|Feature|Type|Dataset|Description|
|---|---|---|---|
|column name|int/float/object|ACT/SAT|This is an example|

## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?
        - Which states have the highest and lowest mean total/composite scores for the 2017, 2019, or 2019 SAT and ACT?
        - Do any states with 100% participation on a given test have a rate change year-to-year?
        - Do any states show have >50% participation on *both* tests each year?
        - Which colleges have the highest median SAT and ACT scores for admittance?
        - Which California school districts have the highest and lowest mean test scores?
    - **You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [ ]:
#Code:

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

## Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [ ]:
# Code

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!